.input-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-area svg {
    color: #cfcbc0;
}

.input-area div {
    display: flex;
    align-items: center;
}

.input {
    border: 0;
    background: transparent;
    color: #c9c5bf;

    font-size: 1.1rem;
    font-weight: 400;
    padding: .5rem .6rem;
}

.button-search {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    
    background: transparent;
    border: 0;
}

.button-search > .spinner {
    animation: spinner 2s infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}