.not-found {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 4s;
    animation: fade 4s ease 0s 1 normal forwards;
}

.not-found > h2 {
    margin: 1rem 0;
    font-weight: 600;
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}